*{font-size:12px; font-family:'Tahoma','Verdana','微软雅黑','新宋体'}
body {font-family: 'Open Sans',"arial","sans-serif";background:#ffffff;}
fieldset,hr { border-width: 1px; }

/*div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,blockquote{padding:0; margin:0;}

table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
table{ margin:0 auto;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}   */
caption,th {text-align:left;}
/*
h1,h2,h3,h4,h5,h6 {font-family: "Helvetica Neue", "Helvetica, Arial", "Microsoft Yahei UI", "Microsoft YaHei", "SimHei", "\5B8B\4F53", "simsun", "sans-serif";font-weight: normal;}
q:before,q:after {content:'';}   
abbr,acronym {border:0;}*/
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}   
/*strong {font-weight:normal;}

footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}*/
/*
a {color:#000000;text-decoration:none;}
a:visited {color:#83006f;text-decoration:none;}
a:hover {color:#ba2636;text-decoration:underline;}
a:active {color:#ba2636;}
*/