<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>验证电邮地址</title>
</head>

<body>
<div style="width:90%;padding:10px;color:#333;font-size:14px;line-height:28px;">
    <span style="color:#000">[#DATA#]</span><br>
    你好，很高兴能够为您服务！<br>
    我们发现[#DATA#]正在被当成用户帐号使用，为避免垃圾邮件或地址被滥用，我们需要进行有效性验证。<br>
	您只需点击右边的链接即可验证您的电邮地址。<a href="[#DATA#]" target="_blank">点击这里验证电邮地址</a><br>
    如果您不能点击上面链接，请将下面链接复制到浏览器地址栏中访问：<br>
    <span style="color:#F00">[#DATA#]</span><br>
	<span style="color:#666666;font-size:12px;">
	这封邮件的有效期为96小时。如果期间又发送了新的邮件，那么这封邮件将会失效<br>
	此邮件为系统邮件，请勿直接回复！<br>  
    [#DATA#]</span>
</div>
</body>
</html>
